::ng-deep mat-dialog-container {
  background: var(--inner-popup-bg) !important;
  border-radius: 5px !important;
}
.inner-popup-primary-text {
  color: var(--inner-popup-text);
}
.inner-popup-secondary-text {
  color: var(--inner-popup-secondary-text);
}
.leaf-svg {
  fill: var(--inner-popup-logo-fill);
}

.my-30px {
  margin: 35px 0;
}
.qr-code-holder {
  max-height: 330px;
}
.tfa-form-holder {
  min-height: 400px;
  max-height: 100%;
  width: calc(680px - 350px);
  margin: 0 auto;
}

.default-btn {
  padding: 7px 0 !important;
  font-size: 18px !important;
}

@media (max-width: 700px) {
  .tfa-form-holder {
    width: 100%;
  }
}
