<!-- <app-loader></app-loader>
<div class="holder light">
  {{userData |json }}
  <router-outlet></router-outlet>
</div>
<button (click)="logOut()"> LogOut</button> -->

<div class="chat-window-holder d-flex justify-content-center align-items-center">

  <div class="chat-window">

    <div class="left-holder">

      <div class="search-bar-holder d-flex justify-content-center align-items-center w-100">
        <app-left-search-bar class="w-100"></app-left-search-bar>
      </div>

      <div class="user-list scroll_style">
        <app-left-online-users></app-left-online-users>
      </div>

      <div class="left-footer">
        <app-left-footer-actions></app-left-footer-actions>
      </div>

    </div>

    <div class="right-holder">
      <button (click)="logOut()"> LogOut</button>
    </div>

  </div>

</div>
