.burger-show-hide {
  height: 8%;
  position: fixed;
  top: 0;
  left: 30px;
}
.burger-show-hide-inner {
  height: 100%;
}
.chat-window-holder {
  width: 100%;
  height: 100vh;
  background: var(--chat-window-bg);
  transition: background 0.5s ease-in-out;
}

.chat-window {
  width: 80vw;
  height: 90vh;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30% 70%;
}

.chat-window::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.37);
  display: none;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.left-holder {
  border-radius: 10px 0 0 10px;
  background: var(--left-bg);
  transition: background 0.5s ease-in-out;
  min-height: 100%;
  max-height: 100%;
}

.search-bar-holder,
.left-footer {
  min-height: 8%;
  max-height: 8%;
}
.user-list {
  min-height: 84%;
  max-height: 84%;
  overflow-y: auto !important;
}
.left-footer {
  border-radius: 0 0 0 10px;
  background: var(--left-footer-bg);
  transition: background 0.5s ease-in-out;
}
.search-bar-holder {
  padding: 10px;
  background: var(--left-footer-bg);
  border-radius: 10px 0 0 0;
}
.right-holder {
  border-radius: 0 10px 10px 0;
}

@media (max-width: 1024px) {
  .left-holder {
    border-radius: 0;
  }
  .burger-show-hide {
    display: block !important;
  }
  .chat-window {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 100%;
  }
  .right-holder {
    width: 100vw;
    height: 100vh;
  }
  .left-holder {
    position: absolute;
    z-index: 999;
    width: 80%;
    height: 100vh;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
  }

  .display-overlay.chat-window::after {
    display: block;
  }
  .overlay-shown.chat-window::after {
    opacity: 1;
  }
  .left-holder.left-holder-open {
    transform: translateX(0);
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .left-holder {
    width: 50%;
  }
}
