<!--
<div class="holder light">
  {{userData |json }}
  <router-outlet></router-outlet>
</div>
<button (click)="logOut()"> LogOut</button> -->
<app-loader></app-loader>
<div class="chat-window-holder d-flex justify-content-center align-items-center">
  <div class="chat-window">

    <div class="left-holder">

      <div class="search-bar-holder d-flex justify-content-center align-items-center">
        <app-left-search-bar class="w-100"></app-left-search-bar>
      </div>

      <div class="user-list scroll_style">
        <app-left-online-users></app-left-online-users>
      </div>

      <div class="left-footer d-flex justify-content-center align-items-center">
        <app-left-footer-actions class="w-100"></app-left-footer-actions>
      </div>

    </div>

    <div class="right-holder global-dark-white-bg">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
