<div class="msgs-threadroot">

  <div class="common-page-header d-flex justify-content-center align-items-center">

    <div class="page-title d-flex align-items-center">

      <div class="user d-flex align-items-center">

        <div class="user-img position-relative">
          <img [src]="chatPerson.profilepic ?chatPerson.profilepic :'assets/default.png'" />
          <div class="on-state" [class.off-state]="!onlineUsers.includes(chatPerson._id)"></div>
        </div>

        <div class="user-details ml-3">
          <p>{{chatPerson.name}}</p>
        </div>

      </div>

    </div>

  </div>

  <div class="chat-threads-holder scroll_style">

    <ng-container *ngFor="let msgs of chatMessages">
      <app-message [msg]="msgs" [currentUser]="currentUser" [receiverUser]="chatPerson"></app-message>
    </ng-container>

  </div>

  <div class="chat-input-holder d-flex justify-content-center align-items-center">
    <div class="chat-io-holder position-relative">
      <input type="text" placeholder="Enter message" [(ngModel)]="msg" (keyup)="detectEnter($event)" />
      <div class="send-chat-btn" (click)="sendMessage()">
        <svg width="46" height="29" viewBox="0 0 46 29" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0.84632 28.9917L45.1877 14.5L0.84632 0.00836182L0.825195 11.2797L32.5127 14.5L0.825195 17.7204L0.84632 28.9917Z"
            fill-opacity="0.5" />
        </svg>
      </div>
    </div>
  </div>


</div>
