<div class="forgot-pass-popupholder text-center">
  <img src="assets/leaf-gray.svg" />

  <div class="fgt-pass-form-holder d-flex justify-content-center align-items-center">
    <form [formGroup]="resetPassForm">

      <app-all-alerts [type]="errType" [isShown]="errStatus || false" (closeClick)="errStatus=false;">
      </app-all-alerts>

      <div class="w-100" *ngIf="step==1" [@fade]>
        <p class="font-size-15 light-gray-color mt-3 mb-3">Enter your Email to continue</p>
        <div class="root-io-holder position-relative">
          <div class="default-io-holder position-relative"
            [class.invalid-io]="resetPassForm.controls.email.touched && resetPassForm.controls.email?.errors">
            <input type="text" class="default-io" placeholder="Email" formControlName="email" />
            <i class="fas fa-key"></i>
          </div>
          <app-input-errors [control]="resetPassForm.controls.email"></app-input-errors>
        </div>

        <button class="default-btn outline-btn mt-3" (click)="next()"
          [disabled]="resetPassForm.controls.email.status==='INVALID'">NEXT</button>

      </div>

      <div class="w-100" *ngIf="step==2" [@fade]>
        <p class="font-size-15 light-gray-color mt-3 mb-3">Enter the 6 Digit CODE</p>

        <div class="root-io-holder position-relative">
          <div class="default-io-holder position-relative"
            [class.invalid-io]="resetPassForm.controls.code.touched && resetPassForm.controls.code?.errors">
            <input type="text" class="default-io" placeholder="Code" formControlName="code" />
            <i class="fas fa-key"></i>
          </div>
          <app-input-errors [control]="resetPassForm.controls.code"></app-input-errors>
        </div>

        <button class="default-btn outline-btn mt-3" [disabled]="resetPassForm.controls.code.status==='INVALID'"
          (click)="next()">NEXT</button>
      </div>

      <div class="w-100" *ngIf="step==3" [@fade]>
        <p class="font-size-15 light-gray-color mt-3 mb-2">Reset Password</p>

        <div class="root-io-holder position-relative mb-1">
          <div class="default-io-holder position-relative"
            [class.invalid-io]="resetPassForm.controls.newPass.touched && resetPassForm.controls.newPass?.errors">
            <input type="password" class="default-io" placeholder="Password" formControlName="newPass" />
            <i class="fas fa-key"></i>
          </div>
          <app-input-errors [control]="resetPassForm.controls.newPass"></app-input-errors>
        </div>

        <div class="root-io-holder position-relative">
          <div class="default-io-holder position-relative"
            [class.invalid-io]="resetPassForm.controls.conNewpass.touched && resetPassForm.controls.conNewpass?.errors">
            <input type="password" class="default-io" placeholder="Confirm password" formControlName="conNewpass" />
            <i class="fas fa-key"></i>
          </div>
          <app-input-errors [control]="resetPassForm.controls.conNewpass"></app-input-errors>
        </div>

        <button class="default-btn outline-btn mt-3"
          [disabled]="resetPassForm.controls.newPass.status==='INVALID' || resetPassForm.controls.conNewpass.status==='INVALID'"
          (click)="next()">NEXT</button>
      </div>

      <div class="w-100" *ngIf="step==4" [@fade]>

        <p class="font-size-15 light-gray-color mt-3 mb-2">Password Changed</p>

        <img src="assets/popup-assets/Success-SVG.png" class="mb-3 img-fluid" />

        <button class="default-btn outline-btn" (click)="closeDialog()">DONE</button>
      </div>

    </form>

  </div>

  <div class="stepper-holder d-flex justify-content-center align-items-center mt-4">
    <div class="step active-step" *ngFor="let item of totalSteps;let i=index" [ngClass]="{'active-step': i+1==step}">
    </div>

  </div>
</div>
