.loader-holder {
  width: 100vw;
  height: 100vh;
  background: var(--overlay-bg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  transition: 0.4s ease-in-out;
}
.loader-body {
  width: 120px;
  height: 120px;
  border: 3px solid var(--default-io-bg);
  border-top-color: var(--default-btn-bg);
  border-radius: 50%;
  animation: load 1.2s infinite ease-in-out;
}

@keyframes load {
  to {
    transform: rotate(360deg);
  }
}
