.msg-holder {
  padding: 10px 0;
}
.msg-details {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-gap: 15px;
}
.msg-details img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: end;
}
.msg-content p {
  color: var(--sender-text-color);
  min-width: 200px;
  max-width: 400px;
  background: var(--sender-bg);
  padding: 10px;
  border-radius: 10px 10px 10px 0;
  word-break: break-all;
}

.receiver .msg-details {
  grid-template-columns: 1fr 40px;
}
.receiver .msg-details .msg-content p {
  border-radius: 10px 10px 0 10px;
  background: var(--receiver-bg);
  color: var(--receiver-text-color);
}
.msg-time {
  color: var(--dark-mode-text);
  font-size: 13px;
}
.mr-55px {
  margin-right: 55px;
}
.ml-55px {
  margin-left: 55px;
}
.options-icon svg {
  fill: var(--dark-mode-text);
  cursor: pointer;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.msg-details:hover .options-icon svg {
  opacity: 1;
}

@media (max-width: 700px) {
  .msg-content p {
    width: 95%;
  }
}

@media (max-width: 1024px) {
  .options-icon svg {
    opacity: 1;
  }
}
