<div class="msg-holder" *ngIf="type=='sender'">
  <div class="msg-details">
    <img src="assets/default.png" />
    <div class="msg-content">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make
        a
        type specimen book. It has survived not only five centuries,</p>
    </div>
  </div>
  <p class="msg-time text-left ml-55px">12:09 PM</p>
</div>

<div class="msg-holder receiver" *ngIf="type=='receiver'">
  <div class="msg-details">
    <div class="msg-content">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make
        a
        type specimen book. It has survived not only five centuries,</p>
    </div>
    <img src="assets/default.png" />
  </div>
  <p class="msg-time text-right mr-55px">12:09 PM</p>
</div>
