::ng-deep mat-dialog-container {
  border-radius: 5px !important;
}
.fgt-pass-form-holder {
  min-height: 300px;
  max-height: 100%;
  width: calc(680px - 350px);
  margin: 0 auto;
}
.stepper-holder .step {
  margin: 0 7px;
  width: 15px;
  height: 15px;
  background: rgba(110, 218, 134, 0.3);
  border-radius: 50%;
  transition: 0.2s;
}
.step.active-step {
  background: var(--default-btn-bg) !important;
}
.default-btn {
  padding: 7px 0 !important;
  font-size: 18px !important;
}
.default-btn.outline-btn {
  background: none !important;
  color: var(--default-btn-bg) !important;
}
.default-btn.outline-btn:hover {
  background: var(--default-btn-bg) !important;
  color: var(--plain-white) !important;
}
@media (max-width: 700px) {
  .fgt-pass-form-holder {
    width: 100%;
  }
}
