<div class="forgot-pass-popupholder text-center">
  <img src="assets/leaf-gray.svg" />

  <div class="fgt-pass-form-holder d-flex justify-content-center align-items-center">

    <div class="w-100" *ngIf="step==1" [@fade]>
      <p class="font-size-15 light-gray-color mt-3 mb-3">Enter your Email to continue</p>

      <div class="default-io-holder position-relative mb-3">
        <input type="text" class="default-io" placeholder="Email" />
        <i class="fas fa-key"></i>
      </div>

      <button class="default-btn outline-btn" (click)="next()">NEXT</button>

    </div>

    <div class="w-100" *ngIf="step==2" [@fade]>
      <p class="font-size-15 light-gray-color mt-3 mb-3">Enter the 6 Digit CODE</p>

      <div class="default-io-holder position-relative mb-3">
        <input type="text" class="default-io" placeholder="Code" />
        <i class="fas fa-key"></i>
      </div>

      <button class="default-btn outline-btn" (click)="next()">NEXT</button>
    </div>

    <div class="w-100" *ngIf="step==3" [@fade]>
      <p class="font-size-15 light-gray-color mt-3 mb-2">Reset Password</p>

      <div class="default-io-holder position-relative mb-3">
        <input type="text" class="default-io" placeholder="Password" />
        <i class="fas fa-key"></i>
      </div>

      <div class="default-io-holder position-relative mb-3">
        <input type="text" class="default-io" placeholder="Confirm password" />
        <i class="fas fa-key"></i>
      </div>

      <button class="default-btn outline-btn" (click)="next()">NEXT</button>
    </div>

    <div class="w-100" *ngIf="step==4" [@fade]>

      <p class="font-size-15 light-gray-color mt-3 mb-2">Password Changed</p>

      <img src="assets/popup-assets/Success-SVG.png" class="mb-3 img-fluid" />

      <button class="default-btn outline-btn" (click)="closeDialog()">DONE</button>
    </div>

  </div>

  <div class="stepper-holder d-flex justify-content-center align-items-center mt-4">
    <div class="step active-step" *ngFor="let item of totalSteps;let i=index" [ngClass]="{'active-step': i+1==step}">
    </div>

  </div>
</div>
