<app-loader></app-loader>
<div class="holder d-flex justify-content-center align-items-center">
  <img src="assets/register-bg.jpg" />

  <div class="reg-window  position-relative">

    <div class="rt-sec text-center pall-20 position-relative">
      <img src="assets/register-lt.jpg" class="rt-bg" />
      <div class="rt-content d-flex justify-content-center align-items-center">
        <img src="assets/Leaf-white.svg" />

        <div class="text-white">
          <p>Welcome to Connect</p>
          <p class="font-size-30 font-weight-500 big-side-title mt-2">REGISTER</p>
        </div>

      </div>
    </div>

    <div class="reg-form text-center d-flex justify-content-center align-items-center">

      <div class="w-100">

        <img src="assets/leaf-gray.svg" class="reg-form-logo" />

        <p class="title-text-auth-window font-weight-500 mb-5">New Account</p>

        <form [formGroup]="registerForm">

          <div class="text-left root-io-holder position-relative">
            <div class="default-io-holder position-relative"
              [class.invalid-io]="registerForm.controls.email.touched && registerForm.controls.email?.errors">
              <input type="text" class="default-io" placeholder="Email" formControlName="email" />
              <i class="fas fa-user"></i>
            </div>
            <app-input-errors [control]="registerForm.controls.email"></app-input-errors>
          </div>


          <div class="text-left root-io-holder position-relative">
            <div class="default-io-holder position-relative"
              [class.invalid-io]="registerForm.controls.password.touched && registerForm.controls.password?.errors">
              <input type="password" class="default-io" placeholder="Password" formControlName="password" />
              <i class="fas fa-key"></i>
            </div>
            <app-input-errors [control]="registerForm.controls.password"></app-input-errors>
          </div>

          <div class="text-left root-io-holder position-relative">
            <div class="default-io-holder position-relative"
              [ngClass]="{
              'valid-pass': registerForm.controls.confirmpassword.touched && !registerForm.controls.confirmpassword?.errors,
              'invalid-io': registerForm.controls.confirmpassword.touched && registerForm.controls.confirmpassword?.errors}">
              <input type="password" class="default-io" placeholder="Password" formControlName="confirmpassword" />
              <i class="fas fa-key"></i>
            </div>
            <app-input-errors [control]="registerForm.controls.confirmpassword"></app-input-errors>
          </div>

          <div class="check-box-holder text-left d-flex align-items-center">
            <div class="check-box" [class.checked]="acceptTOC" (click)="acceptTOC = !acceptTOC"></div>
            <p class="light-gray-color font-size-15 ml-3">Accept <a class="toc c-pointer text-decoration">Toc</a></p>
          </div>

        </form>

        <button class="default-btn font-size-25 mt-4 mb-3" [disabled]="registerForm.status !=='VALID' || !acceptTOC"
          (click)="register()">SIGN
          UP</button>

        <p class="light-gray-color font-size-15 fgt-pass c-pointer text-decoration" [routerLink]="['/login']">Already
          have an Account?
        </p>

      </div>

    </div>

  </div>


</div>
