<div class="holder d-flex justify-content-center align-items-center">
  <img src="assets/login-bg.jpg" />

  <div class="login-window position-relative">

    <div class="login-form text-center d-flex justify-content-center align-items-center">

      <div class="w-100">

        <img src="assets/leaf-gray.svg" class="login-form-logo" />

        <p class="title-text-auth-window font-weight-500 mb-5">Login Account</p>

        <div class="default-io-holder position-relative mb-4">
          <input type="text" class="default-io" placeholder="Email" />
          <i class="fas fa-user"></i>
        </div>

        <div class="default-io-holder position-relative mb-4">
          <input type="text" class="default-io" placeholder="Password" />
          <i class="fas fa-key"></i>
        </div>

        <div class="check-box-holder text-left d-flex align-items-center">
          <div class="check-box" #checBox (click)="toggleCheckBox(checBox)"></div>
          <p class="light-gray-color font-size-15 ml-3">Remember Me</p>
        </div>

        <button class="default-btn font-size-25 mt-4 mb-4" (click)="openAuthenticationPopUp('test', 'email')">
          SIGN IN
        </button>

        <p class="light-gray-color font-size-15 fgt-pass c-pointer">Forgot Password?</p>
      </div>

    </div>

    <div class="rt-sec text-center pall-20 position-relative">
      <img src="assets/login-rt.jpg" class="rt-bg" />
      <div class="rt-content d-flex justify-content-center align-items-center">
        <img src="assets/Leaf-white.svg" />

        <div class="text-white">
          <p>Nice to see you again</p>
          <p class="font-size-30 font-weight-500 big-side-title mt-2">WELCOME BACK</p>
        </div>

      </div>
    </div>

  </div>


</div>
