<div class="users-holder" [@userlistani]="onUsers.length">

  <div class="user" *ngFor="let user of onUsers" (click)="startChat(user, $event)">

    <div class="user-img position-relative" (click)="viewUserProfile(user, $event)">
      <img [src]="user.profilepic ? user.profilepic : 'assets/default.png'" />
      <div [ngClass]="{'on-state': onlineUsersId.includes(user._id),'off-state': !onlineUsersId.includes(user._id)}">
      </div>
    </div>

    <div class="user-details">
      <p>{{user.name}}</p>
      <p>this is a message </p>
    </div>

    <div class="unseen-message text-center">
      <p>9+</p>
    </div>

  </div>

</div>
